/* Reset default styles */
body, h1, p {
  margin: 0;
  padding: 0;
}

/* Set a background color and font for the whole page */
body {
  background-color: #f2f2f2;
  font-family: 'Arial', sans-serif; /* Set global font */
}

/* Center the content */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* Style the heading */
h1 {
  font-size: 36px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 0px;
}

/* Navigation Bar Styles */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: transparent;
}

nav li {
    /* Float is not necessary due to flexbox; kept removed */
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    /* Font inherits from body, no need to explicitly set unless you want a different font for navigation links */
}

nav li a:hover {
    background-color: #FFFFFF;
    color: black;
}

/* Style the paragraphs */
p {
  font-size: 18px;
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}

/* Add some padding and border to a button */
.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FFFFFF;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
}

/* Add hover effect to the button */
.button:hover {
  background-color: #555;
}

body {
	background: linear-gradient(-45deg, #e40303, #f1bc06, #961db5, #ff3800);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

/* Center text within a specific element */
.selector { /* Replace '.selector' with the class or ID of your element */
    text-align: center;
}

/* If you want to vertically and horizontally center text in the entire body */
body, html {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li a {
    background-color: transparent; /* Primary button color */
    color: white; /* Text color */
    padding: 10px 20px; /* Button padding */
    text-decoration: none; /* Remove underline from links */
    border-radius: 5px; /* Rounded corners for buttons */
    transition: background-color 0.3s; /* Smooth background color transition on hover */
}

nav ul li a:hover {
    background-color: darkred; /* Button color on hover */
}

/* PADDING */

header {
    padding: 20px; /* This adds padding inside the header */
}

nav ul {
    padding: 10px 0; /* Vertical padding */
}
nav ul li {
    padding: 5px 10px; /* Padding around each link for more separation */
}

footer {
    padding: 20px; /* Adjust as needed */
}
